body {
    background-color: antiquewhite;
    color: #181b16;
    font-family: "Epilogue",sans-serif;
    font-weight: 200;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }
  
.main-content {
    background-color: #181b16;
    color: antiquewhite;
    font-size: 1.5rem;
}