body {
  text-align: center;
  background: url(../Images/Background-img.jpg);
}

#level-title {
  font-size: 3rem;
  margin:  5%;
  color: #5b71df;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 25%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #f05555;
}

.green {
  background-color: rgb(89, 211, 89);
}

.blue {
  background-color: rgb(76, 76, 214);
}

.yellow {
  background-color: rgb(235, 235, 82);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
