@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  text-align: center;
  background: url(../Images/Background-img.jpg);
  font-family: Montserrat,sans-serif;
  background-position: center;
  background-size: cover;
}

#level-title {
  font-size: 3rem;
  margin:  5%;
  color: #000;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 25%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #f74242;
}

.green {
  background-color: #3fec3f;
}

.blue {
  background-color: #4848e4;
}

.yellow {
  background-color: #e9e942;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
