body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.AppHeader {
	color: #FFF;
	text-align: center;
	font-size: 40px;
	background-color: #111;
}

.App {
	background-color: #333;
	height: 100%;
	width: 100%;
	position: fixed;
	
}

.AppBody {
	background-color: black;
	width:100%;
	height: 100%;
	
}

.TextArea {
	background-color: #000;
	border: none;
	outline: none;
	width: 100%;
	height: 90%;
	color: #FFF;
}

.AddIcon {
	font-size: 40px;
	font-weight: 300;
}

.AddFab {
	position: fixed;
	bottom: 25px;
	right: 25px;
}

.FabInput {
	display: none;
}

.TextImage {
	display: none;
}
